<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva Tarea</title>
  <link rel="stylesheet" href="styles/light-theme.css">
</head>
<body>

  <form class="p-4">
    <!--Nombre Tarea-->
    <div class="form-group">
      <input type="text" id="name" class="form-control" placeholder="Nombre Tarea" autofocus>
    </div>

    <!--Materia-->
    <div class="form-group">
      <input type="text" id="price" class="form-control" placeholder="Materia">
    </div>

    <!--Descripción-->
    <div class="form-group">
      <textarea id="description" rows="3" class="form-control" placeholder="Descripción"></textarea>
    </div>

    <!--Fecha-->
    <div class="form-group">
      <input type="datetime-local" class="form-control">
    </div>

    <!--Aceptar-->
    <button class="btn btn-primary btn-block">
      Guardar Tareas
    </button>
  </form>

  <script>
    const form = document.querySelector('form');
    addEventListener('submit', e => {
      console.log(e);

      e.preventDefault();
    })

  </script>
  
</body>
</html>