<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nueva Tarea</title>
  <link rel="stylesheet" href="styles/light-theme.css">
</head>
<body>

  <form class="p-4">
    <!--Nombre Tarea-->
    <div class="form-group">
      <input type="text" id="name" class="form-control" placeholder="Nombre Tarea" autofocus>
    </div>

    <!--Materia-->
    <div class="form-group">
      <input type="text" id="subject" class="form-control" placeholder="Materia">
    </div>

    <!--Descripción-->
    <div class="form-group">
      <textarea id="description" rows="3" class="form-control" placeholder="Descripción"></textarea>
    </div>

    <!--Fecha-->
    <div class="form-group">
      <input type="datetime-local" id="date" class="form-control">
    </div>

    <!--Aceptar-->
    <button class="btn btn-primary btn-block">
      Guardar Tareas
    </button>
  </form>

  <script>
    const { ipcRenderer } = require('electron');

    const form = document.querySelector('form');
    addEventListener('submit', e => {
      /* Esta wea es para convertir de datetime-local a date :p
       además de generar un objeto, con los datos originales
       y los datos en formato Date */
      function convertDateType(date) {
        let year = date.slice(0, 4);
        let month = date.slice(5, 7) - 1;
        let day = date.slice(8, 10);
        let hour = date.slice(11, 13);
        let minute = date.slice(14, 16); 
         
        let actualDate = new Date(year, month, day, hour, minute);
        return actualDate;
      }

      const nameTask = document.querySelector('#name').value;
      const subjTask = document.querySelector('#subject').value;
      const descTask = document.querySelector('#description').value;
      const dateTask = convertDateType(document.querySelector('#date').value);

      const newTask = {
        name: nameTask,
        subject: subjTask,
        description: descTask,
        date: dateTask
      }

      ipcRenderer.send('task:new', newTask);

      e.preventDefault();
    });

  </script>
  
</body>
</html>